<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load static %}

<html lang="en">

    <head>
        <title>dime drop times</title>
        <link rel=StyleSheet type="text/css" href="{% static 'blog/style.css' %}">
        <script type="text/javascript" src="{% static 'blog/masonry.pkgd.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="header-container">
            <h1>
                <a href="{% url 'HomeView' %}">
                    <span id="dime">dime</span>
                    <br>
                    <span id="drop">drop</span>
                    <br>
                    <span id="times">times</span>
                </a>
            </h1>

            <h2>
                <table>
                    <tr>
                        <td>
                            <a href="/pages/about">
                                about
                            </a>
                        </td>
                        <td>
                            <a href="/contact">
                                contact
                            </a>
                        </td>
                    </tr>
                </table>
            </h2>
        </div>

        <div class="item-detail">
            <p class="text">
                {{ flatpage.content }}
            </p>
        </div>

        <div class="footer-container">
            <!-- Copyright Symbol, Year, Name -->
            <p id="footer-text">&copy; {% now "Y" %} Jan Tabaczynski</p>
        </div>

    </body>

</html>
