<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load static %}

<html lang="en">

    <head>
        <title>{{ flatpage.title }}</title>
        <link rel=StyleSheet type="text/css" href="{% static 'blog/style.css' %}">
        <script type="text/javascript" src="{% static 'blog/masonry.pkgd.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
    
        <div class="header-container">
            <h1>
                <a href="{% url 'HomeView' %}">
                    <span id="dime">dime</span>
                    <br>
                    <span id="drop">drop</span>
                    <br>
                    <span id="times">times</span>
                </a>
            </h1>
            
            {% load flatpages %}
            {% get_flatpages as flatpages %}
            <h2>
                <table>
                    <tr>
                        {% for page in flatpages %}
                            <td>
                                <a href="/pages{{ page.url }}">
                                    {{ page.title }}
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </h2>
        </div>
        
        <div class="item-detail">
            <p class="text">
                {{ flatpage.content }}
            </p>
        </div>
        
        <div class="footer-container">
            <!-- Copyright Symbol, Year, Name -->
            <p id="footer-text">&copy; {% now "Y" %} Jan Tabaczynski</p>
        </div>
        
    </body>
    
</html>