body {
  background: #ffc928;
}

div.header-container {
  text-align: center;
}

div.footer-container {
  text-align: center;  
}

div.post {
  background: #fff;
  margin: 50px auto;
  width: 50%;
  padding: 50px;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

h1 { 
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 275px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 { 
  color: #111; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 36px; 
  text-align: center; 
}

/* unvisited link */
a:link {
  color: #000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #000;
  text-decoration: underline;
}

/* mouse over link */
a:active {
  color: #000;
  text-decoration: underline;
}

p {
  color: #685206; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 14px; 
  line-height: 24px; 
  margin: 0 0 0px; 
  text-align: justify; 
  text-justify: inter-word; 
}

#footer-text {
  text-align: center;
}