<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load static %}

<html lang="en">

    <head>
        <title>Dime Drop Times</title>
        <link rel=StyleSheet type="text/css" href="{% static 'blog/style.css' %}"  media=screen>
        <script type="text/javascript" src="{% static 'blog/masonry.pkgd.js' %}"></script>
    </head>
    
    <body>
        <div class="header-container">
            <h1>
                <a href="{% url 'HomeView' %}">
                    <span id="dime">dime</span>
                    <br>
                    <span id="drop">drop</span>
                    <br>
                    <span id="times">times</span>
                </a>
            </h1>
            
            <div class="nav-bar">
                <h2>
                    <a>archive</a>
                    <span>|</span>
                    <a>videos</a>
                    <span>|</span>
                    <a>portfolio</a>
                    <span>|</span>
                    <a>contact</a>
                    <span>|</span>
                    <a>about</a>
                </h2>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}
        
        <div class="footer-container">
            {% block footer %}
            <p id="footer-text">Thanks for visiting my site.</p>
            {% endblock %} 
        </div>
        
    </body>
    
</html>