<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load static %}

<html lang="en">
    <head>
        <title>Dime Drop Times</title>
        <link rel=StyleSheet type="text/css" href="{% static 'blog/style.css' %}"  media=screen>
    </head>
    <body>
        <div class="header">
            <h1>Dime Drop Times</h1>
            {% block navigation %}
            {% endblock %}
        </div>
        
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        
        {% block footer %}
        <p>Thanks for visiting my site.</p>
        {% endblock %}
    </body>
</html>