{% extends 'blog/base.html' %}

{% load static %}

{% block content %}    
    <image class="picture" src="{% static 'blog/car-banner.jpg' %}">
        
    <div class="item-detail">  
        {% if views.post.published_date %}
            <div class="date">
                <p>{{ post.published_date }} by {{ post.author }}</p>
            </div>
        {% else %}
            <div class="date">
                <p>by {{ post.author }}</p>
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p class="text">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}